body {
	padding-top: 50px;		
}
.thumbnail i {
	background-color: #EEEEEE;
  	background-position: center 25%;
  	background-repeat: no-repeat;
  	display: block;
	height: 116px;
	width: 149px;
}

.media-grid {margin-left: 12px;} /* forces gallery to be centered */